body{
    background-color: #000000;
    color: #ffff;
}
#logo-phone{
    max-width: 250px;
}
#logo-menu-phone{
    max-width: 150px;
}
#logo-apartados{
    max-width: 120px;
}
.principal{
    background-color: #FF8F15;
    border-color: #FF8F15;
    width: 300px;
}
.principal:hover{
    background-color: #FF8F15;
    border-color: #FF8F15;
}
.border-bottom{
    border-bottom: 2px solid #fff;
}
.bt-menu{
    margin-top: -30px;
    max-width: 20px;
    float: right;
    position: relative;
}
.btn-control{
    max-width: 40px;
}
.fondo-retina{
    background-image: url("../img/fondo-medio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.naranja{
    color: #FF8F15;
}
.imagenes{
    max-width: 380px;
}
.text-compl{
    margin-left: 5.5rem;
}
.nuevo{
    background-color: #FF8F15;
    text-align: center;
    height: 40px;
    border-radius: 10px;
}
.nuevo-web{
    background-color: #FF8F15;
    text-align: center;
    height: 40px;
    border-radius: 10px;
}
/****** SLIDER *******/
.onboarding-card {
    position: absolute;
    user-select: none;
    visibility: hidden;
}
.visible-card {
    opacity: 1;
    visibility: visible;
    animation-duration: 3s;
    animation-name: animTexto;
}
  @keyframes animTexto {
    from {
      margin-left: 100%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  /*ESTILOS WEB*/
  .header-web{
      color: #fff;
  }
  .header-web img{
      max-width: 150px;
  }
  .header-web a{
      text-decoration: none;
      color: #fff;
  }
  hr{
    margin: 1rem;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 1;
}
.btn-web-diagnostico{
    background-color: #FF8F15;
    border-color: #FF8F15;
    width: 250px;
}
.btn-web-diagnostico:hover{
    background-color: #FF8F15;
    border-color: #FF8F15;
}
.texto-principal{
    margin-top: 9rem;
    margin-left: -95px;
}
.fondo-web{
    background-image: url('../img/fondo-header-web.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.desc-web h1{
    margin-left: -60px;
    margin-top: 10px;
    
}
#btn-control-web{
    max-width: 50px;
    margin-top: 120px;
}
.onboarding-card-web {
    position: absolute;
    user-select: none;
    visibility: hidden;
}
.visible-card-web {
    opacity: 1;
    visibility: visible;
    animation-duration: 3s;
    animation-name: animTexto;
}